@page
@model ExamITPE3200.Views.Home.User.CreateUser

@{
    Layout = null;
}

<form id="createuser">
    <label for="CreateName">Name </label>
    <input type="text" id="CreateName"/>
    <label for="Createemail">e-mail adress: </label>
    <input type="text" id="Createemail"/>
</form>