@section Styles {
    <link rel="stylesheet" href="~/css/account.css" />
    <link rel="stylesheet" href="~/css/bookingCard.css" />
    <link rel="stylesheet" href="~/css/rentalCard.css" />
}
@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}


<div class="settings-wrapper">
    <h1>Manage your account</h1>
    <h3>Change your account settings</h3>
    <br />
    <hr />
    <br />
    <div class="settings-container">
        <div>
            <partial name="_ManageNav" />
        </div>
        <div class="settings-content">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
