@page
@model FastFlat.Areas.Identity.Pages.Account.Manage.BookingsModel
@{
    ViewData["Title"] = "Bookings";
    ViewData["ActivePage"] = ManageNavPages.Bookings;
}

@if (Model.Bookings.Any())
{
    foreach (var bookingModel in Model.Bookings)
    {
        <partial name="_BookingCard" model="bookingModel" />
    }
}
else
{
    <p>You have no bookings available at the moment</p>
}