@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}
<div class="index-settings">
    <h3>@ViewData["Title"]</h3>
    <div asp-validation-summary="All" class="text-danger"></div>
    <partial name="_StatusMessage" for="StatusMessage" />
        <form id="email-form" method="post" class="index-form">
            <div class="index-inputs">
                
                @if (Model.IsEmailConfirmed)
                {
                    <div class="index-cluster">
                        <input asp-for="Email" class="" disabled />
                        <div class="input-group-append">
                            <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                        </div>
                        <label asp-for="Email" class=""></label>
                    </div>
                }
                else
                {
                    <div class="index-cluster">
                        <input asp-for="Email" class="" disabled />
                        <label asp-for="Email" class=""></label>
                    <!--<button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="update-profile-button">Send verification email</button>-->
                    </div>
                }
                <div class="index-cluster">
                    <input asp-for="Input.NewEmail" class="" autocomplete="email" aria-required="true" />
                    <label asp-for="Input.NewEmail" class=""></label>
                    <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                </div>
            </div>
            
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="update-profile-button">Change email</button>
        </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
