



@{
    ViewBag.Title = "Admin Page";
    Layout = "_Layout";
}

<h2>admin</h2>

<details>
    <summary>Booking table</summary>
    <partial name="_AdminPartial" />
</details>
<details>
    <summary>Account control</summary>
    @**TODO: figure out multipe veiws
    <partial name="_AdminAccounts"/>*@ 
</details>