@{
    ViewBag.Title = "Admin Page";
    Layout = "_Layout";
}

<h2>admin</h2>
<div>
    <p>booking table</p>
        <partial name="_AdminPartial"/>
        
</div>

    <a asp-controller="Account" asp-action="_AdminAccounts" class="btn btn-primary"> account controll panel</a>

    <a asp-controller="Account" asp-action="_ManageListings" class="btn btn-primary">All listings on site</a>
