
@model IEnumerable<BookingModel>


@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>admin</h2>
<details>
    <summary>Account control</summary>
    @**TODO: figure out multipe veiws *@
    @**<partial name="_AdminAccounts"/>**@
</details>
<details>
    <summary>Booking table</summary>
    <partial name="_AdminPartial" model="Model"/>
</details>
