@{
    ViewBag.Title = "Admin Page";
    Layout = "_Layout";
}

<h2>admin</h2>
<div>
        <summary>Booking table</summary>
        <partial name="_AdminPartial"/>
</div>
<div>
    <a asp-controller="Account" asp-action="_AdminAccounts"> account overveiw</a>
   
</div>
<div>
     <a asp-controller="Account" asp-action="_ManageListings">All listings</a>
</div>