@section Styles {
    <link rel="stylesheet" href="~/css/login.css" />
}
<section class="hero">
    <div class="login">
        <h1>Log into FastFlat</h1>
        <form class="login-form" action="#">
            <div class="email">
                <label for="email">E-mail</label>
                <input type="text" id="email" placeholder="Enter your e-mail here">
            </div>
            <div class="password">
                <label for="password">E-mail</label>
                <input type="password" id="password" placeholder="Enter your password here">
            </div>
            <input type="submit" value="Login">
            <a id="forgot-password" href="#">Forgotten password?</a>
            <div class="breaker"></div>
            <p>Dont have an account? <a href="#">Create</a> an account.</p>
        </form>
    </div>
</section>