@model exam_personal.Models.ListingModel
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<body>
    <section class="hero">
        <div class="hero-wrapper">
            <div class="hero-left">
                <div class="hero-title">
                    <h1>Finding your rental has never been easier.</h1>
                    <p>Lorem ipsum dolor si ames ah detru luer afn ela dilasti hestem lak.</p>
                </div>
                <div class="searchbar">
                    <div class="location">
                        <label for="location" class="searchbar-title">Hvor</label>
                        <input type="text" placeholder="Søk etter lokasjon" id="location">
                    </div>
                    <div class="fromDate">
                        <label for="fromDate" class="searchbar-title">Innsjekking</label>
                        <input type="text" placeholder="Legg til dato" id="fromDate">
                    </div>
                    <div class="toDate">
                        <label for="toDate" class="searchbar-title">Utsjekking</label>
                        <input type="text" placeholder="Legg til dato" id="toDate">
                    </div>
                    <div class="guests">
                        <label for="guests" class="searchbar-title">Gjester</label>
                        <input type="number" placeholder="Legg til gjester" id="guests">
                    </div>
                    <div id="submit-btn">
                        <img src="images/search.svg">
                    </div>
                </div>
            </div>
            <div class="hero-right">
                <div class="thumbnail">
                    <div class="thumbnail-marker">
                        <img src="images/marker.svg">
                    </div>
                    <div class="thumbnail-text">
                        <h5 class="card-title">Bahamas resort</h5>
                        <p>17.-21. sep.</p>
                        <p class="card-subtitle mb-2 text-body-secondary"><span class="price">1345 NOK</span> per natt</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>