@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

@if (user != null)
{
    <div class="dropdown-menu" id="hideAndOpen">

    
        <div class="submenu">
            <div class="user-info">
                <img style="width:50px;height:50px; object-fit:cover; object-position: 25% center; border-radius:50px; cursor: pointer;"
                src="data:image/*;base64,@(Convert.ToBase64String(user.ProfilePicture))">
                <h2> @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName </h2>
            </div>
            <hr />
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Edit Profile" class="submenu-link">
                <img src="~/images/icons/user.png" style="width: 35px; height: 35px;">
                <p>Edit Profile</p>
                <span>></span>
            </a>
            <a asp-area="Identity" asp-page="/Account/Manage/Rentals" title="Your Rentals" class="submenu-link">
                <img src="~/images/icons/user.png" style="width: 35px; height: 35px;">
                <p>Your Rentals</p>
                <span>></span>
            </a>
            <a asp-area="Identity" asp-page="/Account/Manage/Bookings" title="Your Rentals" class="submenu-link">
                <img src="~/images/icons/user.png" style="width: 35px; height: 35px;">
                <p>Your Bookings</p>
                <span>></span>
            </a>
            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="submenu-link">
                    <img src="~/images/icons/logout.png" style="width: 35px; height: 35px;" />
                    <button id="logout" type="submit">Logout</button>
                    <br />
                    <span>></span>
            </form> 
             
        </div>
    </div>
}

else
{
    <li class="nav-registerLogin">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}

