<div class="footer-container">
    <div class="social-icons">
        <a href="https://www.facebook.com/oslomet/" class="social-link">
            <img src="~/images/icons/facebook.png" style="width: 45px; height: 45px;" alt="Facebook" />
        </a>
        <a href="https://www.instagram.com/oslomet/" class="social-link">
            <img src="~/images/icons/instagram.png" style="width: 45px; height: 45px;" alt="Instagram" />
        </a>
        <a href="https://twitter.com/OsloMet" class="social-link">
            <img src="~/images/icons/twitter.png" style="width: 45px; height: 45px;" alt="Twitter / X" />
        </a>
    </div>
    <div class="footer-links">
        <a href="#" class="footer-link">Lorem</a>
        <span>·</span>
        <a href="#" class="footer-link">Ipsum</a>
        <span>·</span>
        <a href="#" class="footer-link">Malesuada</a>
    </div>
    <div class="footer-policy">
        <a href="#" class="footer-link">Ligula Quis Sem</a>
        <span>·</span>
        <a href="#" class="footer-link">Vestibulum Quam</a>
    </div>
    <div class="footer-copyright">
        © 2023 J.A.G.O Industries LLC
    </div>
</div>
