
<div class="rental_card">
    <img src="~/images/rental2.png">
    <div class="card_info">
        <h5>@Model.ListningName</h5>
        <p>@Model.fromDate - @Model.toDate</p>
        <p><span class="pricePerNight">kr @Model.ListningPrice</span> natt.</p>
    </div>
</div>