@page
@model FastFlat.Views.shared.testLogin
@model FastFlat.Models.UserModel; 

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>DU ER INNE  {@Model.FirstName}</h1>
</div>
</body>
</html>