<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - ExamITPE3200</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/ExamITPE3200.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="/css/global.css" asp-append-version="true" />
    <link rel ="stylesheet" href="/css/loginStyle.css" />
    <link rel ="stylesheet" href="/css/rentalStyle.css" />
    <link rel ="stylesheet" href="/css/site.css" asp-append-version="true" />
</head>
<body>
<header>
 <nav>
             <h1 id="--nav-logo">Fast&Flat</h1>
             <ul class="--nav-tabs">
                 <li>
                     <a href="#" class="active">Home</a>
                 </li>
                 <li>
                     <a href="./rentals.html">Rentals</a>
                 </li>
                 <li>
                     <a href="#">Help</a>
                 </li>
             </ul>
             <div id="--nav-profile">
                 <div class="icon">
                     <!--<img src="./pictures/profile.png" alt="Picture of the menu button" width = "60" height = 60 >-->
                     <a href="#">Login</a>
                     <div class="out">
                         <div>
                             <a href="index.html">Home</a>
                         </div>
                         <div>
                             <a href="Nettsider/Reflection-Essay/Reflection-Essay.html">Reflection Essay</a>
                         </div>
                         <div>
                             <a href="Nettsider/Accessibility/Accessibility.html">Accessibility</a>
                         </div>
                         <div>
                             <a href="Nettsider/Topical-Information/Topical-information.html">Topical</a>
                         </div>
                         <div>
                             <a href="Nettsider/Fun/Fun.html">FUN</a>
                         </div>
                     </div>
                 </div>
             </div>
         </nav>

</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
 
<footer>
    <div class="container">
        <p class="lead">Copyright</p>
    </div>
</footer>

<script src="js/script.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>