@using FastFlat.ViewModels

@model NewListningViewModel

<div class="container">
    <h2>Create New Listning</h2>

    <form asp-action="NewListning" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Listning.ListningName"></label><span class="text-danger">*</span>
            <input asp-for="Listning.ListningName" class="form-control" />
            <span asp-validation-for="Listning.ListningName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Listning.ListningPrice"></label><span class="text-danger">*</span>
            <input asp-for="Listning.ListningPrice" class="form-control" />
            <span asp-validation-for="Listning.ListningPrice" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="ListningImage">Listning Image:</label>
            <input type="file" id="ListningImage" multiple="true" name="ListningImage" class="form-control-file">
            <span asp-validation-for="Listning.ListningImageURL" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Listning.FromDate">Available From</label><span class="text-danger">*</span>
            <input asp-for="Listning.FromDate" id="fromDateInput" type="date" class="form-control" value="2023-09-30" />
            <span asp-validation-for="Listning.FromDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Listning.ToDate">Available To</label><span class="text-danger">*</span>
            <input asp-for="Listning.ToDate" id="toDateInput" type="date" class="form-control" value="2023-10-30" />
            <span asp-validation-for="Listning.ToDate" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <label asp-for="Listning.ListningDescription"></label>
            <input asp-for="Listning.ListningDescription" class="form-control" />
            <span asp-validation-for="Listning.ListningDescription" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Listning.SquareMeter"></label>
            <input asp-for="Listning.SquareMeter" class="form-control" />
            <span asp-validation-for="Listning.SquareMeter" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Listning.NoOfBeds"></label>
            <input asp-for="Listning.NoOfBeds" class="form-control" />
            <span asp-validation-for="Listning.NoOfBeds" class="text-danger"></span>
        </div>
       
        

        <h4>Select Amenities:</h4>

        @foreach (var amenity in Model.Amenities)
        {
            <input type="checkbox" name="SelectedAmenities" value="@amenity.AmenityId" /> @amenity.AmenityName

            <br />
        }
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

<script>
    document.getElementById('fromDateInput').addEventListener('change', function() {
        const selectedDate = this.value;
        document.getElementById('toDateInput').setAttribute('min', selectedDate);
    });
</script>