@using FastFlat.ViewModels

@model NewListningViewModel

<div class="container">
    <h2>Create New Listning</h2>

    <form asp-action="NewListning" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Listning.ListningName">Property title</label><span class="text-danger">*</span>
            <input asp-for="Listning.ListningName" class="form-control" />
            <span asp-validation-for="Listning.ListningName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Listning.ListningPrice">Price per night</label><span class="text-danger">*</span>
            <input asp-for="Listning.ListningPrice" class="form-control" />
            <span asp-validation-for="Listning.ListningPrice" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Listning.ListningDescription">Describtion</label>
            <input asp-for="Listning.ListningDescription" class="form-control" />
            <span asp-validation-for="Listning.ListningDescription" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Listning.SquareMeter">Plot size</label>
            <input asp-for="Listning.SquareMeter" class="form-control" />
            <span asp-validation-for="Listning.SquareMeter" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Listning.NoOfBeds">Amount of beds</label>
            <input asp-for="Listning.NoOfBeds" class="form-control" />
            <span asp-validation-for="Listning.NoOfBeds" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="ListningImage">Listning Image:</label>
            <input type="file" id="ListningImage" multiple="true" name="ListningImage" class="form-control-file">
            <span asp-validation-for="Listning.ListningImageURL" class="text-danger"></span>
        </div>

        <h4>Select Amenities:</h4>

        @foreach (var amenity in Model.Amenities)
        {
            <input type="checkbox" name="SelectedAmenities" value="@amenity.AmenityId" /> @amenity.AmenityName

            <br />
        }
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-action="Profile" class="btn btn-secondary">Back to Profile</a>
    </form>
</div>