.dropdown-menu-og {
    max-height:0px;
    position: absolute;
    top:120%;
    right: -10px;
    width: 250px;
    z-index: 100;
    overflow:hidden;
    transition: max-height 0.5s;
}

.submenu {
    background: #f6f6f6;
    padding-bottom:8px;
    border-radius: 10px;
}

.transform-menu {
    max-height:600px;
}

.user-info {
    display:flex;
    align-items:center;
    /*justify-content: center; */
}

.user-info h2 {
    font-weight: 500;
}
.user-info img {
    margin-left: 20px;
    margin-right: 20px;
}

.submenu hr {
    color: lightslategray;
    width: 90%;
    margin-top: -5px;
    margin-bottom: 5px; 
}

.submenu-link {
    display:flex;
    align-items:center;
    text-decoration:none;
    margin-left: 15px;
    margin-bottom: 10px;
    color: dimgray;
}


.submenu-link p,
#logout {
    align-content: center;
    margin-left: 10px;
    font-size: inherit; 
    font-family: inherit; 
    color: dimgray; 
    background: none; 
    border: none;
    cursor: pointer;
    padding-left: 0;
    transition: transform 0.5s;
}

#logoutForm {
    margin-top:15px;
}

.submenu-link p{
    padding-top: 10px;
}

.submenu-link span {
    margin-left: auto; /* So that I can align the ">" to the right */
    margin-right: 15px;
    font-size: 23px;
    transition: transform 0.5s;
}

.submenu-link:hover span {
    transform: translateX(5px);
    font-weight: 500;
}

.submenu-link:hover p {
    transform: translateX(5px);
    font-weight: 500;
}

#logout {
color: dimgray;
text-align: left;
display: inline-block;
}

#logout:hover {
transform: translateX(5px);
font-weight: 500;
}
/*
.submenu-link p {
width: 100%;
}

#logout {
    width: 100%;
} */