@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ABB3FF;
}

*, ::before, ::after{
    box-sizing: initial !important;
}

:root {
    --main-text-color: #7a7a7a;
    --main-color: #ABB3FF;
}

header {
    width: 100%;
}


body {
    font-family: 'Poppins', 'sans-serif';
    margin: 0;
    padding: 0;
    color: var(--main-text-color);
    background-image: url("../images/backgrounds/world.svg");
    background-attachment: fixed;
    background-repeat: none;
    overflow-x: hidden;
}

nav {
    height: 70px;
    width: 95%;
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.--nav-tabs {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.nav-item {
    display: flex;
    align-items: center;
    margin: 5px;
}

.nav-registerLogin {
    margin: 20px;
}

.nav-list {
    margin: 0 50px 0 50px;
}

#--nav-logo {
    font-size: 2rem;
}

.--nav-tabs > li {
    list-style: none;
}

    .--nav-tabs > li > a {
        text-decoration: none;
        color: var(--main-text-color);
        font-size: 1rem;
    }

.icon > a {
    text-decoration: none;
    color: var(--main-text-color);
    font-size: 1rem;
}

.active {
    color: #000000 !important;
    font-weight: bolder;
}
.autocomplete{
    background-color: white;
    border-bottom: 1px solid #ABB3FF;
    padding: 5px;
}
.autocomplete:hover {
    cursor: pointer;
    color: black;
    background-color: #e1e0ff;
    border-bottom: 1px solid #ABB3FF;
}
#output {
    position: absolute;
    top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
}
/* Hamburger Menu */
.icon:hover .out {
    display: block;
    opacity: 1;
    pointer-events: auto;
}


.icon {
    position: relative;
    cursor: pointer;
    gap: 1rem;
}

.out {
    top: 40px;
    height: 210px;
    width: 130px;
    display: none;
    background-color: lightgray;
    box-shadow: 0 1px 1px 1px rgba(194, 190, 188, 0.476);
    z-index: 1;
    position: absolute;
    right: -45px;
    transition: opacity 0.3s;
    opacity: 0;
    pointer-events: none;
}

    .out > div {
        margin: 6px;
    }

        .out > div > a {
            text-decoration: none;
            color: black;
        }

        .out > div:hover {
            background-color: gray;
        }

.back-to-top {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    left: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #0d3b66;
    font-size: 50px;
}
/* End of Hamburger Menu*/

/* footer */


.price {
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
}

