.hero {
    width: 100%;
    height: calc(100vh - 110px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;
    margin-bottom: 7.5%;
}

.hero-left {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.5rem;
    height: 90%;
}

.hero-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin-right: 5%;
}

.hero-title > h1 {
    font-size: 75px;
    margin: 0;
}

.hero-title > p {
    font-size: 32px;
    margin: 5px;
}

.thumbnail {
    height: 90%;
    aspect-ratio: 1/1;
    border-radius: 20px;
    position: relative;
    background-size: cover;
}
.thumbnail-img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius:20px;
}

.thumbnail-marker {
    width: 60px;
    border-radius: 50px;
    border: solid 6px white;
    aspect-ratio: 1/1;
    background-color: var(--main-color);
    position: absolute;
    right: 15%;
    top: -35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

    .thumbnail-marker > img {
        position: relative;
    }

.thumbnail-text {
    padding: 30px;
    bottom: 0px;
    font-size: 2rem;
    position: absolute;
    width: fit-content;
    color: white;
    font-weight: 400;
}

    .thumbnail-text > p {
        margin: 0;
        font-size: 1rem;
        color: rgb(245, 245, 245);
    }

h5 {
    margin: 0;
}
.location{
    position: relative;
}
#output{
    position: absolute;
    top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
}
