.hero{
    height:fit-content;
    min-height: 100vh;
    width: 100%;
    background-color:red;
}
.rental-wrapper{
    width: 60%;
    margin: auto;
    background-color: blue;
}
.rental-banner{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}