@model RentalListViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/explore.css" />
}

<section class="hero">
    <div class="search-section">
        <div class="searchbar">
            <div class="location">
                <label for="location" class="searchbar-title">Hvor</label>
                <input type="text" placeholder="Søk etter lokasjon" id="location">
            </div>
            <div class="fromDate">
                <label for="fromDate" class="searchbar-title">Innsjekking</label>
                <input type="text" placeholder="Legg til dato" id="fromDate">
            </div>
            <div class="toDate">
                <label for="toDate" class="searchbar-title">Utsjekking</label>
                <input type="text" placeholder="Legg til dato" id="toDate">
            </div>
            <div class="guests">
                <label for="guests" class="searchbar-title">Gjester</label>
                <input type="number" placeholder="Legg til gjester" id="guests">
            </div>
            <div id="submit-btn">
                <img src="~/images/icons/search.svg">
            </div>
        </div>
    </div>
    <div id="filters">
        
        <div class="filter-icon">
            <img src="~/images/icons/house_filter.svg">
        </div>
        <div class="filter-icon">
            <img src="~/images/icons/house_filter.svg">
        </div>
        <div class="filter-icon">
            <img src="~/images/icons/house_filter.svg">
        </div>
        <div class="filter-icon">
            <img src="~/images/icons/house_filter.svg">
        </div>
        <div class="filter-icon">
            <img src="~/images/icons/house_filter.svg">
        </div>
        <div class="filter-icon">
            <img src="~/images/icons/house_filter.svg">
        </div>
        <div class="filter-icon">
            <img src="~/images/icons/house_filter.svg">
        </div>
        <div class="filter-icon">
            <img src="~/images/icons/house_filter.svg">
        </div>
    </div>
    <div class="result-wrapper">
        <div id="results">
            @foreach (var rental in Model.Rentals)
            {
                <partial name="_RentalCard" model="rental" />
            }
        </div>
        <div class="map">
        </div>
    </div>
</section>
