@model RentalListViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/explore.css" />
    <link rel="stylesheet" href="~/css/rentalCard.css" />
}

<section class="hero">
    <div class="search-section">
        <partial name="_SearchBar" />
    </div>
    <div id="filters">
        @foreach (var amenity in Model.Amenities)
        {
            <partial name="_AmenityCard" model="amenity" />
        }
    </div>
    <div class="result-wrapper">
        <div id="results">
            @foreach (var rental in Model.Rentals)
            {
                <partial name="_RentalCard" model="rental" />
            }
        </div>
        <div class="map">
        </div>
    </div>
</section>
